
Thumbs.db
Desktop.ini


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


dist/
build/
out/
.cache/

.vite/
.parcel-cache/
webpack-stats.json


.vscode
.history/
.idea/

*.sublime-workspace
*.sublime-project

*.log
logs/
*.pid

.env
.env.*
*.local

*.tmp
*.temp
*.bak
*.swp
*.swoi
*.orig
*.cache

